.sectionContainer {
  width: 100%;
  padding-top: 20px;
}

.reviewsContainer {
  background-color: rgb(243,243,243);
}

#primaryImage {
  width: 80%;
  height: auto%;
}

.btnVisible {
  display: block;
}

.btnInvisible {
  display: none;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

/* previous and next buttons */
.prev, .next {
  color: gray;
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
}

.prev:focus {
  outline: none;
  border: 0;
}

.next:focus {
  outline: none;
  border: 0;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-12 {
  font-size: 12px;
}

.md-button.pickUpBtn {
  color: white !important;
  background-color: black !important;
  font-weight: 300 !important;
}

.md-button.addToCartBtn {
  color: white !important;
  background-color: rgb(204,0,0) !important;
  font-weight: 300 !important;
}

.md-button.secondaryActionsBtn {
  color: black !important;
  background-color: rgb(243,243,243) !important;
  font-weight: 300 !important;
}
